html {
  scroll-behavior: smooth;
  font-size: clamp(62.5%, 0.326vw + 50.9%, 100%);
}

body {
  width: 100%;
  font-size: 1.6rem;
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: var(--pink-100);
  color: var(--white-100);
}

a {
  text-decoration: none;
  color: var(--black-100);
}
