:root {
  --brown-500: #c16947;
  --brown-600: #a86044;
  --brown-700: #774836;

  --gray-100: #e9ecef;

  --red-100: #e5383b;

  --white-100: #fff;

  --green-100: #149911;

  --black-100: #000;

  --pink-100: #ff5c8a;
}
